#placements{
	-fx-background-image: url("saveIcon.png");
}
#rotate{
	-fx-background-image: url("rotate.png");
}
#clean{
	-fx-background-image: url("clean.png");
}
#auto{
	-fx-background-image: url("auto.png");
}
#backBTN{
	fx-background-image: url("back.png");
}
#options{
	fx-background-image: url("options.png");
}
#auto,#placements,#rotate, #clean,#backBTN,#options{
    -fx-background-size: 30px;
	-fx-background-position: center;
	-fx-alignment: center;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}

.tab-pane{
    -fx-tab-max-height: 0 ;
}
.split-pane
{
-fx-background-color: linear-gradient(#9EA0A1, #6A93B0);
}
.tab-pane .tab-header-area{
    visibility: hidden;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}
#mainScreen{
-fx-background-image:url("background.png");
-fx-background-position: center;
-fx-background-repeat: no-repeat;
    -fx-background-size: 700 460;

}

