.tab-pane{
    -fx-tab-max-height: 0 ;
}
.tab-pane .tab-header-area{
    visibility: hidden;
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#c7d0cc, #2e8b57);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}